# Игнорировать папку node_modules, если она существует
node_modules/

# Игнорировать файлы логов
*.log

# Игнорировать временные файлы macOS
.DS_Store

# Игнорировать файлы с кэшами IDE
.idea/
.vscode/

# Игнорировать файлы с кэшами, созданными операционной системой
Thumbs.db
